django>=5.0
django-allauth
django-countries
django-debug-toolbar
django-el-pagination
django-filter
django-markdownx
django-mptt
django-taggit
django-watson
djangorestframework
pillow
psycopg2-binary
dj-database-url
