{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% load core_tags %}

{% block title %}Message Debug{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>Message Debug Information</h3>
        </div>
        <div class="card-body">
            {% if pm_messages %}
                <h4>Message Properties:</h4>
                <pre>
                {% for message in pm_messages %}
                ===== Message {{ forloop.counter }} =====
                message.pk: {{ message.pk }}
                message.id: {{ message.id }}
                message.subject: {{ message.subject }}
                message.url: {{ message.url }}
                message.form.id: {{ message.form.id }}
                message.form.instance: {{ message.form.instance }}
                message.form.instance.pk: {{ message.form.instance.pk }}
                {% endfor %}
                </pre>
            {% else %}
                <div class="alert alert-info">No messages available to debug.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}