{% extends "core/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Welcome to Discuss</h1>
                    <p class="card-text">A place to share ideas and collaborate with others.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}