<div class="btn-group me-2">
    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-share-alt me-1"></i> Share
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{% post_to_facebook object_or_url %}" target="_blank">
                <i class="fab fa-facebook me-2"></i> Share on Facebook
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% post_to_twitter 'Check out this post!' object_or_url %}" target="_blank">
                <i class="fab fa-twitter me-2"></i> Share on Twitter
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% post_to_linkedin object_or_url %}" target="_blank">
                <i class="fab fa-linkedin me-2"></i> Share on LinkedIn
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% post_to_reddit 'Check out this post!' object_or_url %}" target="_blank">
                <i class="fab fa-reddit me-2"></i> Share on Reddit
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="javascript:void(0);" onclick="navigator.clipboard.writeText(window.location.href); alert('URL copied to clipboard!');">
                <i class="fas fa-clipboard me-2"></i> Copy Link
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% send_email 'Check out this post!' 'I thought you might be interested in this post.' object_or_url %}" target="_blank">
                <i class="fas fa-envelope me-2"></i> Email
            </a>
        </li>
    </ul>
</div>
