{% extends "postman/base.html" %}
{% load i18n %}

{% block postman_content %}
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4 class="my-2">{{ pm_messages_title }}</h4>
    </div>
    <div class="card-body">
        {% include 'postman/includes/message_list.html' with pm_messages=pm_messages action_url=action_url user=user by_conversation=by_conversation by_message=by_message enable_archive=enable_archive enable_delete=enable_delete enable_undelete=enable_undelete view=view %}
    </div>
</div>
{% endblock %}
