{% comment %}
  Redirects to the component location of action_buttons.html
  This is to maintain backward compatibility with existing imports
{% endcomment %}

{% include 'core/includes/components/action_buttons.html' with 
  primary_label=primary_label 
  secondary_label=secondary_label 
  primary_icon=primary_icon 
  secondary_icon=secondary_icon 
  primary_url=primary_url 
  secondary_url=secondary_url 
  primary_type=primary_type 
  secondary_type=secondary_type 
  primary_classes=primary_classes 
  secondary_classes=secondary_classes 
  container_classes=container_classes
%}