{% extends "postman/base.html" %}
{% load i18n %}

{% block postman_content %}
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4 class="my-2">{{ pm_write_title }}</h4>
    </div>
    <div class="card-body">
        <form action="{% url action_url %}" method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    {% for field in form.visible_fields %}
                    <div class="mb-3">
                        <label class="form-label{% if field.field.required %} required{% endif %}" for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {% if field.errors %}
                        {{ field.errors }}
                        {% endif %}
                        {{ field }}
                        {% if field.help_text %}
                        <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% if next_url %}
                    <input type="hidden" name="next" value="{{ next_url }}" />
                    {% endif %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">{% trans "Send" %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
