{% extends "account/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load account %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block inner_title %}{% trans "Sign Up" %}{% endblock %}

{% block inner_content %}
<div class="text-center mb-3">
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>

{% include "account/includes/auth_form.html" with 
  form_id="signup_form" 
  form_class="signup" 
  action_url=signup_url 
  submit_text=_("Sign Up")
  extra_links="<p>By signing up, you agree to our <a href='#'>Terms of Service</a> and <a href='#'>Privacy Policy</a>.</p>"
%}
{% endblock %}

{% block sidebar %}
<div class="card">
    <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Join Discuss!</h5>
    </div>
    <div class="card-body">
        <p>Register to become a member of the Discuss community and start participating in discussions.</p>
        <p>As a member, you can:</p>
        <ul>
            <li>Create and join communities</li>
            <li>Share news links or text posts</li>
            <li>Vote on posts and comments</li>
            <li>Customize your profile</li>
        </ul>
    </div>
</div>
{% endblock %}