{% extends 'core/base.html' %}
{% load static %}

{% block title %}Donation History{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow">
                {% include 'core/includes/payment_card_header.html' with title="Your Donation History" %}
                <div class="card-body">
                    {% include 'core/includes/donation_history_content.html' with payments=payments %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
