{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}Process Payment{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                {% include 'core/includes/payment_card_header.html' with title="Complete Your Payment" %}
                <div class="card-body">
                    {% include 'core/includes/payment_form.html' with payment=payment form=form %}
                </div>
                {% include 'core/includes/payment_card_footer.html' with message="<i class='fas fa-lock'></i> Your payment information is secure and encrypted." %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
