{% extends 'core/base.html' %}
{% load static %}

{% block title %}Payment Failed{% endblock %}

{% block content %}
{% with content_block %}
    {% include 'core/includes/payment_result.html' with 
        success=False 
        title="Payment Unsuccessful" 
        message="There was a problem processing your payment"
        error_reason=error_reason
        payment_details=payment_details
        action_primary_link="donate" 
        action_primary_text="Try Again" 
        action_primary_icon="fas fa-sync" 
        action_primary_class="btn-primary"
        action_secondary_link="home" 
        action_secondary_text="Return to Home" 
        action_secondary_icon="fas fa-home" %}
{% endwith %}

{% include 'core/includes/payment_layout.html' with 
    title="Payment Unsuccessful" 
    content=content_block 
    container_class="py-5" %}
{% endblock %}
