{% extends 'core/base.html' %}
{% load static %}

{% block title %}Payment Failed{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            {% include 'core/includes/payment_result.html' with 
                success=False 
                title="Payment Unsuccessful" 
                message="There was a problem processing your payment"
                error_reason=error_reason
                payment_details=payment_details
                action_primary_link="donate" 
                action_primary_text="Try Again" 
                action_primary_icon="fas fa-sync" 
                action_primary_class="btn-primary"
                action_secondary_link="home" 
                action_secondary_text="Return to Home" 
                action_secondary_icon="fas fa-home" %}
        </div>
    </div>
</div>
{% endblock %}
