{% load reputation_tags %}

{# 
This partial template renders the comment author information
It's used in both reddit_comments.html and comment_thread.html
#}

{% if comment.author.profile.avatar %}
    <img src="{{ comment.author.profile.avatar.url }}" alt="{{ comment.author.username }}'s avatar" class="avatar avatar-sm me-1" width="16" height="16">
{% else %}
    <i class="bi bi-person-fill me-1" aria-hidden="true"></i>
{% endif %}
<a href="{% url 'profile' comment.author.username %}" class="comment-author me-1">{{ comment.author.username }}</a>

{% if comment.author.profile.country %}
<img src="{{ comment.author.profile.country.flag }}" alt="{{ comment.author.profile.country.name }}" class="country-flag me-1" width="16" height="11"> 
{% endif %}
 
{{ comment.author.profile.karma|reputation_badge }}
<span class="mx-1">•</span>
<span>{{ comment.created_at|timesince }} ago</span>