<div class="btn-group dropdown">
  <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-share-alt me-1"></i> Share
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
        <i class="fab fa-facebook me-2"></i> Share on Facebook
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Check%20out%20this%20post!" target="_blank">
        <i class="fab fa-twitter me-2"></i> Share on Twitter
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" target="_blank">
        <i class="fab fa-linkedin me-2"></i> Share on LinkedIn
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="https://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title=Check%20out%20this%20post!" target="_blank">
        <i class="fab fa-reddit me-2"></i> Share on Reddit
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="javascript:void(0);" onclick="navigator.clipboard.writeText('{{ request.build_absolute_uri }}'); alert('URL copied to clipboard!');">
        <i class="fas fa-clipboard me-2"></i> Copy Link
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="mailto:?subject=Check%20out%20this%20post!&body=I%20found%20this%20interesting%20post:%20{{ request.build_absolute_uri }}" target="_blank">
        <i class="fas fa-envelope me-2"></i> Email
      </a>
    </li>
  </ul>
</div>
