django==5.2
django-allauth
django-countries
django-debug-toolbar
django-el-pagination
django-filter
django-markdownx
django-mptt
django-taggit
django-watson
djangorestframework
pillow
psycopg2-binary
requests
dj-database-url
